//colors
$navigation: #fe7e5b;
$textTitle: #fe7e5b;
$text: #fff;
$textSecondColor: #db2b39;
$cardTitle: #58595B;
$descriptionText: #58595b;
$rectangleDescription: #FE7E5B;
$facebookContainer: #FFB190;